.row{
    margin-top: 10px;
    margin-left: 20px;
    color: #fff;
}

.rowPost{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.rowPost::-webkit-scrollbar{
    display: none;
}



.Posts{
    max-height: 250px;
    margin-left: 10px;
}


.smallPosts{
    max-height: 150px;
    margin-left: 5px;
}


  
.postText{
    display: flex;
    justify-content: left;
    width: fit-content;
    margin-left: 15px;
}


.postText:hover,.postText:hover,.postDiv:hover{
    cursor: pointer !important;
    transform: scale(1.1);
    transition: transform 0.4s ease; 
    filter: drop-shadow(0.5px 0.5px 20px red);
}


.youTube{
    margin: 10px;
    transform: scale(0.9);
    transition: transform 0.4s ease; 
    filter: drop-shadow(0.5px 0.5px 20px red);
}

.cancelButton{
    cursor: pointer;
    width: 25px;
    height: 25px;
    float: right;
    margin-right: 45px;
    opacity: 0.3;
}

.cancelButton:hover{
    opacity: 2;
}


